.screen {
	height: 100%;
	width: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}

.screen.first {
	height: 95%;
}
.stick-bottom {
	border-radius: 0 !important;
}
